/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
1. Refer to the design specs for the
   overall layout 
2. The image should line up with
   the sidebar in the section
   below

*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

img{
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}
.section-one{
    padding: 2em 0;
}

.box-one{
    color: #3A3A3A;
    width: 62%;
}

.box-one__title{
    font-size: 2.5rem;
    color: #136C72;
}

.box-one__text{
    color: #3A3A3A;
}

.aside{

    padding: 1em;
    background-color: #136C72;
    color: #fff;
    width: 32%;

    text-align: center;
}

.aside__box{
    padding: 0 1rem;
}
 
.aside__box:not(:last-child)
{
    margin-bottom: 3em;
}

.aside__box-title{
    font-size: 2.5rem;
}


.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    /* display: flex => flex container */
    display: flex;
    justify-content: space-between;
    
    /* can't use yet */
    /* gap: 100px; */
}

.col {
    /* these are now flex items */
    width: 100%;
}

.col + .col {
    margin-left: 30px;
}

.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: #FFF;
}

.hero__text { 
    width: 62%;
}

.hero_img {
    width: 32%;
    align-self: flex-start;
}

.hero p {
    margin-bottom: 3em;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    color: #23424A;
    font-weight: 900;
    background-color: #38CFD9;
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75; 
}